*.ipynb
!00_Inspection.ipynb
*.log
*.Identifier
*.sh
**/.ipynb_checkpoints/
test.py
run_*.py
!scripts/run*.py

__pycache__
_marimo
.ipynb_checkpoints
.vscode
.archive
data_old
data/*
!data/.gitkeep
export
assets
temp/*
!temp/.gitkeep
figures/*